{% extends "base.html" %}

{% block title %}AR Manager - 创建模型{% endblock %}

{% block css %}
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/new.css" rel="stylesheet">
    <!-- Important. For Theming change primary-color variable in main.css  -->

    <link href="/static/fonts/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block top_nav %}
	<div id='cssmenu'>
      <ul>
        <li class=''>
          <a href='index.html'>
            <i class="fa fa-dashboard"></i>
            首页
          </a>
        </li>
        <li class='active'>
          <a href='models.html'><i class="fa fa-puzzle-piece"></i>模型</a>
        </li>
        <li class=''>
          <a href='#'><i class="fa fa-user"></i>账户</a>
          <ul>
            <li><a href='my-account.html'>我的账户</a></li>
            <li><a href='edit-profile.html'>修改资料</a></li>
          </ul>
        </li>
        <li class=''>
          <a href='help.html'><i class="fa fa-file-text"></i>文档</a>
        </li>
      </ul>
    </div>
{% endblock %}

{% block sub_nav %}
	<div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="" class="heading">模型</a></li>
      </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <input type="text" class="search-query" placeholder="Search here ...">
        <i class="fa fa-search"></i>
      </div>
    </div>
{% endblock %}

{% block main %}
	<!-- Row Start -->
	<div class="row">
	  <div class="col-lg-12 col-md-12">
	    <div class="widget">
	      <div class="widget-header">
	        <div class="title">
	          创建模型
	          <span class="mini-title">
	            请填写以下内容
	          </span>
	        </div>
	      </div>
	      <div class="widget-body">
            <form class="form-horizontal no-margin" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="form-group">
                <label for="modelName" class="col-sm-2 control-label">名字</label>
                <div class="col-sm-10">
                  {{ uploadForm.modelName }}
                    <span>{{ uploadForm.modelName.errors }}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="note" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                  {{ uploadForm.note }}
                    <span>{{ uploadForm.note.errors }}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="modelFile" class="col-sm-2 control-label">上传模型</label>
                <div class="col-sm-10">
              		{{ uploadForm.model }}
                    <span>{{ uploadForm.model.errors }}</span>
                </div>
              </div>
{#              <div class="form-group">#}
{#                <label for="imageTarget" class="col-sm-2 control-label">Image Target</label>#}
{#                <div class="col-sm-10">#}
{#              		{{ uploadForm.imageTarget }}#}
{#                    <span>{{ uploadForm.imageTarget.errors }}</span>#}
{#                </div>#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <div class="col-sm-offset-2 col-sm-10">#}
{#                  <div class="checkbox">#}
{#                    <label>#}
{#                      <input type="checkbox"> Yes! I would like to use the QRCode as image target.#}
{#                    </label>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-info">确认创建</button>
                </div>
              </div>
            </form>
          </div>
	    </div>
	  </div>
	</div>
	<!-- Row End -->
{% endblock %}

{% block js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.scrollUp.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/menu.js"></script>

    <script type="text/javascript">
      //ScrollUp
      $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: 'Top', // Text for element
          activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });

      //Tooltip
      $('a').tooltip('hide');

      //Popover
      $('.popover-pop').popover('hide');

      //Dropdown
      $('.dropdown-toggle').dropdown();

      //Data Tables
      $(document).ready(function () {
        $('#data-table').dataTable({
          "sPaginationType": "full_numbers"
        });
      });

    </script>
{% endblock %}