<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AR Manager - Download</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome.min.css" />

    <!-- Squad theme CSS -->
    <link href="/static/css/nine-stars-style.css" rel="stylesheet">
	<link href="/static/css/nine-stars-default.css" rel="stylesheet">

</head>
<body>
	<!-- Section: intro -->
    <section id="intro" class="intro" style="background:url('/static/img/img-bg.jpg') no-repeat center center; background-size: cover;">
		<div class="slogan">
			<h1>商品, 距离不再遥远</h1>
			<p>下载手机APP &nbsp;&nbsp;&nbsp;打开新视界</p>
			<a href="#about" class="btn btn-primary btn-lg"><span class="fa fa-apple"></span> &nbsp;iPhone&nbsp;版下载</a>
			<br /><br />
			<a href="#about" class="btn btn-success btn-lg"><span class="fa fa-android"></span> Android&nbsp;版下载</a>
            {% if product_link %}
            <p class="shop">or</p>
			<a href="#about"><span class="fa fa-shopping-cart"></span> 查看商品详情</a>
            {% endif %}

		</div>	
    </section>
	<!-- /Section: intro -->
	
</body>

</html>
