{% extends "base.html" %}

{% block title %}AR Manager - {{model.name}}{% endblock %}

{% block css %}
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/new.css" rel="stylesheet">
    <link href="/static/css/charts-graphs.css" rel="stylesheet">
    <!-- Important. For Theming change primary-color variable in main.css  -->

    <link href="/static/fonts/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block top_nav %}
	<div id='cssmenu'>
      <ul>
        <li class=''>
          <a href='index.html'>
            <i class="fa fa-dashboard"></i>
            首页
          </a>
        </li>
        <li class='active'>
          <a href='models.html'><i class="fa fa-puzzle-piece"></i>模型</a>
        </li>
        <li class=''>
          <a href='my-account.html'><i class="fa fa-user"></i>账户</a>
          <ul>
            <li><a href='my-account.html'>我的账户</a></li>
            <li><a href='edit-profile.html'>修改资料</a></li>
          </ul>
        </li>
        <li class=''>
          <a href='help.html'><i class="fa fa-file-text"></i>文档</a>
        </li>
      </ul>
    </div>
{% endblock %}

{% block sub_nav %}
	<div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="" class="heading">模型</a></li>
      </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <input type="text" class="search-query" placeholder="Search here ...">
        <i class="fa fa-search"></i>
      </div>
    </div>
{% endblock %}

{% block main %}
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="widget no-margin">
          <div class="widget-header">
            <div class="title">
              模型信息
            </div>
            <span class="tools">
              <a href="edit-model.html?bundle_id={{ bundle_id }}" class="fa fa-edit btn btn-info">
                编辑
              </a>
            </span>
          </div>
          <div class="widget-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="thumbnail">
                  <img alt="300x200" src="{{ qrCodePath }}">
                  <br>
                  <h4 class="center-align-text">QRCode <a href="{{ qrCodePath }}" class="fa fa-download"></a></h4>
                </div>
                <br>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="thumbnail">
                  <img alt="300x200" src="{{ imageTargetPath }}">
                  <br>
                  <h4 class="center-align-text">Image Target <a href="{{ qrCodePath }}" class="fa fa-download"></a></h4>
                </div>
                <br>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h5>
                  基本信息
                </h5>
                <hr>
                <div class="widget-body">
                  <div class="stylish-lists">
                    <dl class="dl-horizontal no-margin">
                      <dt  class="text-info">
                        名字
                      </dt>
                      <dd>
                        {{ model.name }}
                      </dd>
                      <dt  class="text-info">
                        备注
                      </dt>
                      <dd>
                        {{ model.note }}
                      </dd>
                      <dt  class="text-info">
                        创建时间
                      </dt>
                      <dd>
                        {{ model.upload_datetime }}
                      </dd>
                    </dl>
                  </div>
                </div>
                <br />
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="mini-widget">
                    <div class="mini-widget-heading clearfix">
                      <div class="pull-left">总浏览量</div>
                    </div>
                    <div class="mini-widget-body clearfix">
                      <div class="pull-left">
                        <i class="fa fa-eye"></i>
                      </div>
                      <div class="pull-right number">{{ model.scan_times }}</div>
                    </div>
            <!--                 <div class="mini-widget-footer center-align-text">
                      <span>Better than last week</span>
                    </div> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="mini-widget">
                    <div class="mini-widget-heading clearfix">
                      <div class="pull-left">总获赞数</div>
                    </div>
                    <div class="mini-widget-body clearfix">
                      <div class="pull-left">
                        <i class="fa fa-thumbs-up"></i>
                      </div>
                      <div class="pull-right number">{{ model.likes }}</div>
                    </div>
            <!--                 <div class="mini-widget-footer center-align-text">
                      <span>Better than last week</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->
    <br>
    <div class="bg"></div>
    <div class="large-map">
      <div id="large-map" style="height:100%"></div>
    </div>
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              日浏览量与评论数对比
            </div>
          </div>
          <div class="widget-body">
            <div id="daily_visits_comments_charts" class="chart-height-lg"></div>
              <script>
                  var recently_days = {{ dailyVC.recently_days|safe }};
                  var recently_visits_amount = {{ dailyVC.recently_visits_amount|safe }};
                  var recently_comments_amount = {{ dailyVC.recently_comments_amount|safe }};
              </script>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              浏览量区域分布图
            </div>
            <span class="tools">
              <a href="#" class="fa fa-search-plus scale-big">
              </a>
            </span>
          </div>
          <div class="widget-body">
            <div id="visits_china_map" class="chart-height-lg"></div>
              <script>
                    var areaVisits_data = {{ areaVisits.area_visits|safe }};
                    var max_areaVisits = {{ areaVisits.max|safe }};
              </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              每日占比
            </div>
          </div>
          <div class="widget-body">
            <div id="visits_comments_likes_charts" class="chart-height-lg"></div>
              <script>
                  var visits = {{ model.scan_times }}
                  var comments = {{ model.comments }}
                  var likes = {{ model.likes }}
              </script>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              月浏览量与评论数对比
            </div>
          </div>
          <div class="widget-body">
            <div id="monthly_visits_comments_charts" class="chart-height-lg"></div>
              <script>
                 var recently_months = {{ monthlyVC.recently_months|safe }};
                 var recently_months_visits_amount = {{ monthlyVC.recently_months_visits_amount|safe }};
                 var recently_months_comments_amount = {{ monthlyVC.recently_months_comments_amount|safe }};
              </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              区域访问量排行
            </div>
          </div>
          <div class="widget-body">
            <div id="visits_ranking" class="chart-height-lg"></div>
              <script>
                  var area_visits_ranking = {{ areaVisits.area_visits_ranking|safe }};
                  var area_visits_ranking_data = {{ areaVisits.area_visits_ranking_data|safe  }};
              </script>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              评论关键词
            </div>
          </div>
          <div class="widget-body">
            <div id="keywords" class="chart-height-lg">
            {% for tag in tags %}
              <span class="label label-info">{{ tag.keywords|safe }}({{ tag.amount|safe }})</span>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="widget">
          <div class="widget-header">
            <div class="title">
              全部评论
            </div>
          </div>
          <div class="widget-body">
            <div class="wrapper">
              <div id="scrollbar">
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb">
                      <div class="end">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview">
                    <div class="featured-articles-container">
                      <div class="articles">
                      {% for comment in comments_list %}
                        {% include "comment.html" %}
                      {% empty %}
                        <p>No comment :)</p>
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->
{% endblock %}

{% block js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.scrollUp.js"></script>

    <!-- ECharts -->
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/shine.js"></script>

    <!-- Tiny Scrollbar JS -->
    <script src="/static/js/tiny-scrollbar.js"></script>

    <!-- jQuery UI JS -->
    <script src="/static/js/jquery-ui-v1.10.3.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/menu.js"></script>

    <script src="/static/js/detail-charts.js"></script>
    
    <script type="text/javascript">
      //ScrollUp
      $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: 'Top', // Text for element
          activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });

      //Tiny Scrollbar
      $('#scrollbar').tinyscrollbar();
      
      $('#scrollbar-two').tinyscrollbar();
    </script>
{% endblock %}